```
# Configured directories
__pycache__
.venv
.DS_Store

# Terraform specific directories
*function-source.zip
terraform.tfstate
*terraform.tfstate.*
.terraform/*
.terraform.lock.hcl

# CDKTF specific directories
.terraform
cdktf.out
cdktf.log
*terraform.*.tfstate*

# Miscellaneous directories
venv/
.vscode
tf
zip
```